@import "reset.css";

html{
    font-family: sans-serif;
}

* {
    --b-radius: 10px;
}

a {
    color: cornflowerblue;
}
.container {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
